{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tiles Edit</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <div style="display: inline-block; white-space: nowrap; margin-top: 5px; width: 100%;">
        <div style="display: inherit;">
            <ul>
                <li>
                    <a href="{{ path('crud_tiles_index') }}">Back to the list</a>
                </li>
            </ul>
        </div>
        <div align="right" style="display: inline-block; margin-left: 50px; vertical-align: top;">
            <input class="btn" type="submit" value="Save"/>
            {{ form_end(edit_form) }}
        </div>
        <div align="right" style="display: inline-block; margin-left: 50px; vertical-align: top;">
            {{ form_start(delete_form) }}
            <input class="btn" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}
