{% extends 'base.html.twig' %}

{% block body %}
    <h1>Maps List</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Playable</th>
                <th>Image URL</th>
                <th>Tile JSON</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for map in maps %}
            <tr>
                <td>{{ map.id }}</td>
                <td><a href="{{ path('crud_maps_show', { 'id': map.id }) }}">{{ map.mapName }}</a></td>
                <td>{% if map.mapPlayable %}Yes{% else %}No{% endif %}</td>
                <td>{{ map.mapImageUrl }}</td>
                <td>{{ map.mapTileData }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('crud_maps_show', { 'id': map.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('crud_maps_edit', { 'id': map.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('crud_maps_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
